<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
            <div class="photo"></div>
            <div class="banner"></div>
            <ul>
                <li><b>Cyril Ferté</b></li>
                <li>Process Engineer & IT</li>

            </ul>
            
            <div class="social-media-banner">
                <a href="https://fr.linkedin.com/in/cferte"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/cyrilferte"><i class="fa fa-github"></i></a>
                <a href="mailto:cyril@fertec.fr"><i class="fa fa-at"></i>cyril@fertec.fr</a>
               
            </div>
        
          </div>
    </div>
    <div class="col-md-4">
      <div class="card">
            <div class="photo"></div>
            <div class="banner"></div>
            <ul>
                <li><b>Charlotte Faure</b></li>
                <li>Chemical engineer</li>

            </ul>
            
            <div class="social-media-banner">
               
               <a href="mailto:charlotte.faure@contactory.co" color="black"><i class="fa fa-at"></i>charlotte.faure@contactory.co</a>
               
            </div>
        
          </div>
    </div>
    <div class="col-md-4">
      <div class="card">
            <div class="photo"></div>
            <div class="banner"></div>
            <ul>
                <li><b>Arn Jovic</b></li>
                <li>Industrial Engineer</li>

            </ul>
            
            <div class="social-media-banner">
                <a href="mailto:arn.jovic@contactory.co" color="black"><i class="fa fa-at"></i>arn.jovic@contactory.co</a>
            </div>
        
          </div>
    </div>
  </div>
</div>   
        
          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
          <link href="https://fonts.googleapis.com/css?family=Lato:400,700,300" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />